html {
    font-size: 62.5%;
}
@media (device-height:480px) and (min-resolution: 2dppx){

    html {
        font-size: 62.5%;
    }

}


@media (device-height:640px) and (min-resolution: 3dppx){

    html {
        font-size: 70.31%;
    }

}

@media (device-height:568px) and (min-resolution: 2dppx){
    html {
        font-size: 62.5%;
    }
}


@media (device-height:667px) and (min-resolution: 2dppx){

    html {
        font-size: 73.24%;
    }

}

@media (device-height:736px) and (min-resolution: 3dppx) {

    html {
        font-size: 80.86%;
    }
}



@media (device-height:480px) and (min--moz-device-pixel-ratio: 2){

    html {
        font-size: 62.5%;
    }

}

@media (device-height:640px) and (min--moz-device-pixel-ratio: 3){

    html {
        font-size: 70.31%;
    }

}


@media (device-height:568px) and (min--moz-device-pixel-ratio: 2){

    html {
        font-size: 62.5%;
    }

}


@media (device-height:667px) and (min--moz-device-pixel-ratio: 2){

    html {
        font-size: 73.24%;
    }

}

@media (device-height:736px) and (min--moz-device-pixel-ratio: 3) {
    /* 兼容iphone6 Plus  w:414*/
    html {
        font-size: 80.86%;
    }
}



@media (device-height:480px) and (-webkit-min-device-pixel-ratio: 2){

    html {
        font-size: 62.5%;
    }

}


@media (device-height:640px) and (-webkit-min-device-pixel-ratio: 3){

    html {
        font-size: 70.31%;
    }

}

@media (device-height:568px) and (-webkit-min-device-pixel-ratio: 2){

    html {
        font-size: 62.5%;
    }

}


@media (device-height:667px) and (-webkit-min-device-pixel-ratio: 2){

    html {
        font-size: 73.24%;
    }

}

@media (device-height:736px) and (-webkit-min-device-pixel-ratio: 3) {
    html {
        font-size: 80.86%;
    }
}