html {
    font-size: 10px;
}



@media (device-height:480px) and (min-resolution: 2dppx){

    html {
        font-size: 10px;
    }

}


@media (device-height:640px) and (min-resolution: 3dppx){

    html {
        font-size: 11.2496px;
    }

}

@media (device-height:568px) and (min-resolution: 2dppx){
    html {
        font-size: 10px;
    }
}


@media (device-height:667px) and (min-resolution: 2dppx){

    html {
        font-size: 11.7184px;
    }

}

@media (device-height:736px) and (min-resolution: 3dppx) {

    html {
        font-size: 12.9376px;
    }
}



@media (device-height:480px) and (min--moz-device-pixel-ratio: 2){

    html {
        font-size: 10px;
    }

}

@media (device-height:640px) and (min--moz-device-pixel-ratio: 3){

    html {
        font-size: 11.2496px;
    }

}


@media (device-height:568px) and (min--moz-device-pixel-ratio: 2){

    html {
        font-size: 10px;
    }

}


@media (device-height:667px) and (min--moz-device-pixel-ratio: 2){

    html {
        font-size: 11.7184px;
    }

}

@media (device-height:736px) and (min--moz-device-pixel-ratio: 3) {
    /* 兼容iphone6 Plus  w:414*/
    html {
        font-size: 12.9376px;
    }
}



@media (device-height:480px) and (-webkit-min-device-pixel-ratio: 2){

    html {
        font-size: 10px;
    }

}


@media (device-height:640px) and (-webkit-min-device-pixel-ratio: 3){

    html {
        font-size: 11.2496px;
    }

}

@media (device-height:568px) and (-webkit-min-device-pixel-ratio: 2){

    html {
        font-size: 10px;
    }

}


@media (device-height:667px) and (-webkit-min-device-pixel-ratio: 2){

    html {
        font-size: 11.7184px;
    }

}

@media (device-height:736px) and (-webkit-min-device-pixel-ratio: 3) {
    html {
        font-size: 12.9376px;
    }
}

@media (device-width:320px){

    html {
        font-size: 10px;
    }

}

@media (device-width:360px){

    html {
        font-size: 11.25px;
    }

}

@media (device-width:375px){

    html {
        font-size: 11.71875px;
    }

}

@media (device-width:384px){

    html {
        font-size: 12px;
    }

}

@media (device-width:411px){

    html {
        font-size: 12.8432px;
    }

}

@media (device-width:414px){

    html {
        font-size: 12.9376px;
    }

}

@media (device-width:435px){

    html {
        font-size: 13.5936px;
    }

}

@media (device-width:480px){

    html {
        font-size: 15px;
    }

}
